

.text-area {
  text-align: center;
}

.dateD{
	font-size:30px;
	font-weight:400px;
	font-family: 'Nanum Pen Script', fantasy;
	margin-left:80%;
}

.line {
  width: 32px;
  height: 1px;

  opacity: 0.3;
}

.titleD{
  margin-bottom: 12px;
  text-align: center;
  font-family: 'Nanum Pen Script', fantasy;
  font-size:65px;
}

.content {
  font-size: 16px;
  font-weight: normal; 
}
.goMyPage {
  position: absolute;
  top: 30px;
  right: 26px;
}
.intro{
	text-align:center;
	font-size:20px;
}
.dot {overflow:hidden;float:left;width:12px;height:12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/mini_circle.png');}    
.dotOverlay {position:relative;bottom:10px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;font-size:12px;padding:5px;background:#fff;}
.dotOverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}    
.number {font-weight:bold;color:#ee6152;}
.title11{font-weight:bold; color:blue;}
.dotOverlay:after {content:'';position:absolute;margin-left:-6px;left:50%;bottom:-8px;width:11px;height:8px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png')}
.distanceInfo {position:relative;top:5px;left:5px;list-style:none;margin:0;}
.distanceInfo .label {display:inline-block;width:50px;}
.distanceInfo:after {content:none;}
