.fontG {
  font-family: 'Noto Sans KR', sans-serif;
}
.bodyrang {
  margin: 10px;
}
.goMyPage {
  position: absolute;
  top: 30px;
  right: 26px;
}
dl {
  margin: auto;
  border-bottom: 0.0625rem solid red;
  padding-bottom: 50px;
  padding-top: 30px;
}
#post img:hover {
   
    transform:scale(1.2, 1.2);  /* 가로2배 새로 1.5배 로 커짐 */
    transition: transform.3s;  /* 커지는 시간 */
}

dt {
  display: list-item;
  list-style-type: '❗️';
  padding-inline-start: 1ch;
  float: left;
  margin-right: 15px;
  margin-left: 80px;
}

.text-area {
  position: relative;
  margin-top: 200px;
  padding-bottom: 50px;
  text-align: center;
  border-bottom: 0.0625rem solid #d1d1d1;
}
.detail_img {
  width: 100%;
  height: 400px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
.detailimg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bookmark {
    width: auto;
    height: 7%;
    right: 5%;
    float: right;
    margin: 5px auto;
}
.content {
  line-height: 1.8rem;
  word-spacing: 5px;
  word-break: normal;
  font-size: 15px;
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
}
.nav {
  border: 1px solid black;
}
.way {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 50px;
  margin-top: 150px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
a {
    text-decoration: none;
    color: white;
}
#text a{color:black;}
#text a:hover{color:red;}
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:15px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:90%;height:500px;}