body{margin:0px;}
#bgvid{
    position: fixed; right: 0; bottom: 0;
    max-width: 100%; height : auto;
    width: auto; height: auto; z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: fill;
    
}

a{
    color : white;
    text-decoration-line : none;
    text-decoration:none;
    
}
a:visited {
    color : white; 
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 8px 12px;
    
    
}

.navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;
    padding-right : 50px;
    font-family: 'Nanum Pen Script', cursive;
}
.navbar_menu a {
    color : white;
}

.navbar__menu li{
    padding-right : 50px;
    font-size: 32px;
    padding-left : 50px;
    
}
.navbar__menu a:hover{
    color : tomato;
    cursor: pointer;
}
.navbar__toogleBtn{
    position : absolute;
    right: 32px;
    top : 20px;
    font-size:25px ;
    color : yellow;
    display : none;
}

@media screen and (max-width : 1000px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding : 8px 24px;
    }
    .navbar__menu{
        display : none;
        flex-direction: column;
        align-items: center;
        width : 100%;
    }
    .navbar__menu li{
        width : 100%;
        text-align: center;
    }
    .navbar__toogleBtn{
        display : block;
    }
    .navbar__menu.active{
        display:flex;
    }
}

.text-field{
    width: 100%;
    font-size : 20px;
    border-radius : 5px;
    padding : 10px;
    border : none;
    margin-bottom : 10px;
}
.submit-btn{
    width : 100%;
    border-radius : 5px;
    padding : 10px;
    font-size : 20px;
    color : black;
    background-color: green;
    border : none;
    margin : 10px;
    cursor : pointer;
}
.links {
    font-size : 20px;
    margin-top: 30px;
    text-align: left;
    font-family: 'Gamja Flower', cursive;
}
.links a{
    color : black;
    font-size : 25px;
}

.container{
    height : 100vh;
    font-family: 'Gamja Flower', cursive;
}

form.box{
    width : 2000px;
    position : absolute;
    top : 30%;
    left : 50%;
    transform : translate(-50%, -50%);
    color : black;
    text-align: center;

}

form.box h1 {
    font-size : 65px;
    color : white;
}
form.box input[type=text] {
    background-color: black;
    color : white;
    font-size : 20px;
    width : 400px;
    height : 47px;
    border-radius : 25px 0 0 25px ;
    border : none;
}
form.box input[type=submit] {
    width : 100px;
    height : 49.5px;
    font-size : 20px;
    background-color: orange;
    border-radius : 0 25px 25px 0;
    border : none;
    margin-left : -6px;
    margin-bottom : 20px;
    padding : 10px;
    cursor : pointer;
}
form.box input[type=text]::placeholder {
    color : gray;
    padding-left : 8%;
}